@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --Primary-color: rgb(127, 166, 80);  /* Chess Green */
    --Secondary-Color: rgb(49, 46 ,43);  /* Chess black */
    --Ternary-color: rgb(238,237,211);  /* Chess white/cream */

    --accent-a: #2596be;
    --accent-b: white;
    --accent-c: whitesmoke;
    --accent-d: black;
    --accent-e: #ffbc3a;


    --navbar-height: 70px;
    --brand-logo-height: 50px;
    --navbar-padding: calc((var(--navbar-height) - var(--brand-logo-height))/2 );
    --footer-height: min(7vw, 7vh);
}

/* general */
body {
    /*overflow-x: hidden; !* Mettre scroll bar? *!*/
    scroll-behavior: smooth;

    /* ajouts*/
    background-color: var(--Ternary-color);
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    color: var(--accent-d);
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5) );
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-radius: 30px;
    border-width: 8px;
    border-color: var(--Primary-color);

    background-color: var(--Secondary-Color);
    padding: 2%;
    margin: 5%;
}


.raw_link {
    transition: 0.5s;
}

.raw_link:hover {
    color: var(--Primary-color)
}

.container > p {
    line-height: 150%;
}

.container > * {
    color: var(--Ternary-color);
}

input {
    width: 100%;
}

.bold {
    font-weight: 800;
    font-size: 1.2em;
}

.italic {
    font-style: italic;
    font-size: 1.2em;
}


/* TODO: Services arrow SVG wraps down when page is shrunk */
/* navbar */
.navbar {
    top: 0;
    width: 100%;
    padding: var(--navbar-padding);
    position: fixed;  /* Use sticky if we want to put something above i.e page Title bar */
    background-color: var(--Secondary-Color);

    z-index: 1;  /* Show above all other elements */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--Primary-color)
}


.navbar * {
    font-weight: 800;
    font-size: 1.2em;
    margin-left: 5px;
}

.navbar a {

    display: block;

    text-align: center;
    font-size: max(1em, 1vw);

    padding: 15px;
    transition: 0.5s;
    background-color: var(--Ternary-color);
    color: var(--Secondary-Color);
    border-radius: 25px;
}

.navbar a:hover {
    background-color: var(--Primary-color);
    color: var(--Ternary-color);
}

.navbar img {
    flex: 0 0 auto !important;
    height: var(--brand-logo-height);
    margin: 0 min(20px, 1vh);
}


/* source: w3schools */
/* Dropdown Content (Hidden by Default) */
.dropdown {
    margin: 0;
}

.dropdown-content {

    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);  /* transparent */
    z-index: 1;
    border-radius: 25px;

    transform-origin: top center;
    transform: rotateX(90deg);
    transition: 0.3s ease-out;
}

/* Links inside the dropdown */
.dropdown-content a {
    /*width: 90%;*/
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--Primary-color);
    color: var(--Ternary-color) !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    transform: rotateX(0deg);
}

/* Home */

#home {
    margin-top: calc(1.5 * var(--navbar-height));
    text-align: center;
    font-size: 1.5em;
}

#chessboard {
    content: url("assets/chessboard.png");
}

.jumbo img{
    height: 80vh;
    width: 80%;
    object-fit: contain;
}

#button {
    position: absolute;
    top: 45%;
    width: 100%;
}

.jumbo button {
    color: var(--Ternary-color);
    background-color: var(--Secondary-Color);
    font-size: 0.6em;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
  }

.jumbo button:hover {
    color: var(--Primary-color);
    transform: scale(1.2);
}


/* About */
#about {
    display: block;
}

#about h1 {
    text-align: center;
}

#about p {
    color: var(--Ternary-color);
    padding: 2.5%;
}

#about img {
    height: 30vh;
    object-fit: contain;
    min-width: 20vw;
}

.SideBySide {
    display: flex;
    flex-flow: row nowrap;
}

.Under p, ul {
    padding: 1% 5% !important;
    font-size: 1.2em;
}

.Under ul {
    margin-left: 5%;
    line-height: 200%;
}


/* Services */

.sub-container {
    width: 90%;
    border-color: var(--Primary-color);
    background-color: var(--Ternary-color);

    /* Rest is inherited from container ... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-radius: 30px;
    border-width: 5px;
    padding: 2%;
    margin: 5%;
}

.sub-container > * {
    font-size: 1.2em;
    color: var(--Secondary-Color);
}

.sub-container img {
    flex: 1 1;
    margin: min(2vw, 2vh);
    height: min(30vh, 30vw);

    transition: 0.5s ease;
}

.sub-container img:hover{
    transform: scale(1.10);
}


/* Contact */
#Nous-contacter {
    margin-bottom: calc(1.5 * var(--footer-height))
}

/* Media links / footer */
/* position/alignement will depend on other sections */

.footer {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;


    padding: min(1vh, 1vw);
    background-color: var(--Secondary-Color);
    /*text-align: center;*/
    bottom: 0;

    height: var(--footer-height);
    width: 100%;
    margin: 0;

    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: var(--Primary-color)
}


.footer img {
    margin-left: min(1vw, 1vh);
    height: min(5vw, 5vh);
}

#copyright {
    color: var(--Ternary-color);
    margin: min(1vw, 1vh) 0;
    font-size: min(2vw, 2vh);
    position: absolute;
    left: 5%;
}

#media-links {
    display: flex;
    flex-flow: row nowrap;

    background-color: inherit;
    position: absolute;
    right: 5%;
}

.popUpYes
{
  background-color: var(--Ternary-color);
}

.popUpYes:hover
{
  background-color: var(--Primary-color);
}    


#android-logo {
    content: url("assets/android.png")
}
#apple-logo {
    content: url("assets/apple.png")
}
#discord-logo {
    content: url("assets/discord.png")
}
#facebook-logo {
    content: url("assets/facebook.png")
}
#instagram-logo {
    content: url("assets/instagram.png")
}
#twitch-logo {
    content: url("assets/twitch.png")
}
#twitter-logo {
    content: url("assets/twitter.png")
}
#youtube-logo {
    content: url("assets/youtube.png")
}













